//root variables
:root {
//Colors:
  --button-background-primary: var(--primary-color);
  --button-background-secondary: var(--gray-100);
  --button-background-disabled: var(--gray-100);
  --button-border-color: var(--gray-200);
  --button-border-color-disabled: var(--gray-100);
  --button-color-white: var(--gray-0);
  --button-color-primary: var(--primary-color);
  --button-color-secondary: var(--secondary-color);
  --button-color-disabled: var(--gray-400);
  --button-color-transparent-disabled: var(--gray-300);
  --button-color-active: #638fff;
}

//Sizes:
$button-height-large: 40px;
$button-height-default: 32px;
$button-height-tiny: 24px;

$button-border-radius: 4px;

//Font:
$button-font-family: 'Rubik', sans-serif;